#!/usr/bin/make -f

export BLAS_INCLUDE_DIRS = /usr/include/x86_64-linux-gnu/openblas-pthread

%:
	dh $@

override_dh_auto_build:
	cargo build --release

override_dh_auto_install:
	install -Dm755 target/release/frogscribe debian/frogscribe/usr/bin/frogscribe
	install -Dm644 resources/frogscribe.desktop debian/frogscribe/usr/share/applications/frogscribe.desktop
	install -Dm644 resources/frogscribe-48.png debian/frogscribe/usr/share/icons/hicolor/48x48/apps/frogscribe.png
	install -Dm644 resources/frogscribe-128.png debian/frogscribe/usr/share/icons/hicolor/128x128/apps/frogscribe.png
	install -Dm644 gnome-extension/metadata.json debian/frogscribe/usr/share/gnome-shell/extensions/frogscribe@frogscribe.app/metadata.json
	install -Dm644 gnome-extension/extension.js debian/frogscribe/usr/share/gnome-shell/extensions/frogscribe@frogscribe.app/extension.js
	install -Dm644 gnome-extension/stylesheet.css debian/frogscribe/usr/share/gnome-shell/extensions/frogscribe@frogscribe.app/stylesheet.css
	install -Dm644 resources/frogscribe-symbolic.svg debian/frogscribe/usr/share/gnome-shell/extensions/frogscribe@frogscribe.app/frogscribe-symbolic.svg
	install -Dm644 resources/ydotool-socket-perms.conf debian/frogscribe/usr/lib/systemd/system/ydotool.service.d/socket-perms.conf
	install -Dm644 resources/ydotoold.service debian/frogscribe/usr/share/frogscribe/ydotoold.service
	install -Dm644 resources/80-uinput.rules debian/frogscribe/etc/udev/rules.d/80-uinput.rules

override_dh_auto_test:
	cargo test
